<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shenmuyan.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="cn.shenmuyan.bean.Orders">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="eventId" column="event_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,event_id,
        status,total_price,create_at,
        updated_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from orders
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from orders
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.shenmuyan.bean.Orders" useGeneratedKeys="true">
        insert into orders
        ( id,user_id,event_id
        ,status,total_price,create_at
        ,updated_at)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{eventId,jdbcType=INTEGER}
        ,#{status,jdbcType=OTHER},#{totalPrice,jdbcType=DECIMAL},#{createAt,jdbcType=TIMESTAMP}
        ,#{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.shenmuyan.bean.Orders" useGeneratedKeys="true">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="eventId != null">event_id,</if>
                <if test="status != null">status,</if>
                <if test="totalPrice != null">total_price,</if>
                <if test="createAt != null">create_at,</if>
                <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="eventId != null">#{eventId,jdbcType=INTEGER},</if>
                <if test="status != null">#{status,jdbcType=OTHER},</if>
                <if test="totalPrice != null">#{totalPrice,jdbcType=DECIMAL},</if>
                <if test="createAt != null">#{createAt,jdbcType=TIMESTAMP},</if>
                <if test="updatedAt != null">#{updatedAt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.shenmuyan.bean.Orders">
        update orders
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="eventId != null">
                    event_id = #{eventId,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=OTHER},
                </if>
                <if test="totalPrice != null">
                    total_price = #{totalPrice,jdbcType=DECIMAL},
                </if>
                <if test="createAt != null">
                    create_at = #{createAt,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shenmuyan.bean.Orders">
        update orders
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            event_id =  #{eventId,jdbcType=INTEGER},
            status =  #{status,jdbcType=OTHER},
            total_price =  #{totalPrice,jdbcType=DECIMAL},
            create_at =  #{createAt,jdbcType=TIMESTAMP},
            updated_at =  #{updatedAt,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
