<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shenmuyan.mapper.UserRoleMappingMapper">

    <resultMap id="BaseResultMap" type="cn.shenmuyan.bean.UserRoleMapping">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>

    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_role_mapping
        where 
    </select>

    <select id="selectAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_role_mapping
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_role_mapping
        where 
    </delete>
    <delete id="deleteByUserId">
        delete from user_role_mapping
        where user_id =#{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert">
        insert into user_role_mapping
        ( user_id,role_id)
        values (#{userId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective">
        insert into user_role_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="roleId != null">role_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="roleId != null">#{roleId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <insert id="insertBatch">
        insert into user_role_mapping ( user_id,role_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId,jdbcType=INTEGER},(#{roleId,jdbcType=INTEGER}))
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.shenmuyan.bean.UserRoleMapping">
        update user_role_mapping
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="roleId != null">
                    role_id = #{roleId,jdbcType=INTEGER},
                </if>
        </set>
        where  
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shenmuyan.bean.UserRoleMapping">
        update user_role_mapping
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            role_id =  #{roleId,jdbcType=INTEGER}
        where  
    </update>
</mapper>
