<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shenmuyan.mapper.UserCouponsMapper">

    <resultMap id="BaseResultMap" type="cn.shenmuyan.bean.UserCoupons">
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
            <result property="claimedDate" column="claimed_date" jdbcType="DATE"/>
            <result property="usedDate" column="used_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,coupon_id,claimed_date,
        used_date
    </sql>


    <select id="selectAllByUserId" resultType="java.lang.Integer">
        select
        coupon_id
        from user_coupons
        where user_id=#{userId,jdbcType=INTEGER} and used_date is null
    </select>


    <insert id="insert">
        insert into user_coupons
        ( user_id,coupon_id,claimed_date
        ,used_date)
        values (#{userId,jdbcType=INTEGER},#{couponId,jdbcType=INTEGER},#{claimedDate,jdbcType=DATE}
        ,#{usedDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective">
        insert into user_coupons
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">user_id,</if>
                <if test="couponId != null">coupon_id,</if>
                <if test="claimedDate != null">claimed_date,</if>
                <if test="usedDate != null">used_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="couponId != null">#{couponId,jdbcType=INTEGER},</if>
                <if test="claimedDate != null">#{claimedDate,jdbcType=DATE},</if>
                <if test="usedDate != null">#{usedDate,jdbcType=DATE},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.shenmuyan.bean.UserCoupons">
        update user_coupons
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="couponId != null">
                    coupon_id = #{couponId,jdbcType=INTEGER},
                </if>
                <if test="claimedDate != null">
                    claimed_date = #{claimedDate,jdbcType=DATE},
                </if>
                <if test="usedDate != null">
                    used_date = #{usedDate,jdbcType=DATE},
                </if>
        </set>
        where  
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.shenmuyan.bean.UserCoupons">
        update user_coupons
        set 
            user_id =  #{userId,jdbcType=INTEGER},
            coupon_id =  #{couponId,jdbcType=INTEGER},
            claimed_date =  #{claimedDate,jdbcType=DATE},
            used_date =  #{usedDate,jdbcType=DATE}
        where  
    </update>
    <update id="updateCouponUsedDateById" >
        update user_coupons
        set
            used_date =NOW()
        where coupon_id=#{couponId,jdbcType=INTEGER}
    </update>
</mapper>
